header{
    background-color: rgb(101, 148, 165);
    position: sticky;
    top: 0;
    .menu a img{
        width: 100px;
    }
    nav ul{
        font-style: none;
        position: absolute;
        right: 10px;
        top: 30px;
        font-size: 20px;
    }
    nav ul li{
        display: inline;
        margin: 0 10px;
    }
    nav ul li a{
        text-decoration: none;
        color: rgb(227, 226, 226);
    }
    a:hover{
        background-color: rgb(97, 138, 154);
        color: black;
    }
}